body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #d0d1d3;
    background: url(https://images.unsplash.com/photo-1667312950895-306784936a68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) bottom no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(189, 209, 221);
    font-style: oblique;
    font-size: 5rem;
    font-family: 'Time New Roman', 'Times New Roman', Times, serif; 
}

.hot-new:nth-child(2n) {
    background-color: rgb(91, 91, 92);
}

.news {
    background-color: rgb(230, 197, 188);
    color: #8d8c3a;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

article .New::before {
    content: 'New';
    color: rgb(163, 204, 98);
    font-style: italic;
    vertical-align: middle;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(11, 12, 12);
    text-decoration: none;
    font-size: 25px;
}
article a:hover {
color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(6, 10, 14);
    margin-bottom: 5px;
    font-size: 25px;
    
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links >a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb (108, 117, 125);
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}

.content:nth-child(even) {
    background: #3b4446;
}